<!--The content below is only a placeholder and can be replaced.-->


  <!--  <app-header></app-header> 

   <app-navigation></app-navigation> 
 
   <app-home></app-home>  

 <app-clothing></app-clothing> 

  <app-electronics></app-electronics>


  <app-accessories></app-accessories>


  <app-shopping-cart></app-shopping-cart>

  <app-footer></app-footer> -->
  <app-navigation></app-navigation> 
<app-home></app-home>
  <!-- <nav>
  <a routerLinkActive="active" routerLink="/Search"></a>
  <a routerLinkActive="active" routerLink="/Cart"></a>
</nav>   -->
<app-footer></app-footer>
